*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

.search{
    height: 100vh;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,(rgb(230, 198, 222)),to left,(rgb(212, 71, 149)));
    border: 1px solid #fff;
    outline: none;
    box-sizing: border-box;
    background-color: #d6cfcfe8
}
.searchBtn{
    background-color: palevioletred;
}
.search input text {
    font-weight: 900;
}