*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

.search{
    height: 100vh;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,(rgb(230, 198, 222)),to left,(rgb(212, 71, 149)));
    border: 1px solid #fff;
    padding: 15px;
    outline: none;
    box-sizing: border-box;
    background-color: #eedadae8;

}

.search input {
    border: 0;
    outline: 0;
    background: white;
    color: rgb(180, 42, 146);
    padding: 10px 25px;
    height: 60px;
    border-radius: 50px;
    font-size: 15;

}
.search button{
    border: 0;
    outline: 0;
    border-radius: 100%;
    max-width: 10;
    height: 5rem;
   

    
}
.search img{
    border-radius: 30px;
    width: 90px;
    height: 70px;
    border: 1px solid #5f5a5a;
    
}