body{
    background-color: #494646e8;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    color: #5f5a5a;
}

#weather-container{
    background: #fff;
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    border-radius: 15 px;
    box-shadow: 0 8px 32px rgba(#fff, grey, rgb(240, 21, 57), alpha);
    border: 2px solid rgb(180, 42, 146);
    text-align: center;
}

h2, label ,p{
    color: #5f5a5a;
    margin: 8px 0;
}
input{
    width: calc(100% -16px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid rgb(180, 42, 146);
    margin-top: 20px;
}

button {
    padding: 10px;
    border:  1px solid black ;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    font-size: 15px;
    color: #5f5a5a;
}

button:hover{
    background: rgb(240, 161, 220);;
}

#tempature-d p{
    font-size: 60px;
    margin-top: -30px;
}

#weather-details{
    width: 200px;
}

#weather-icon{
    width: 200px;
    height: 200px;
    margin: 0 auto 10px;
    margin-bottom: 0;
    display: none;
}

